h1 {
  margin: 0 !important;
}

h2 {
  margin: 0 !important;
}

h3 {
  font-size: large;
  margin: 0 !important;
}

h4 {
  font-size: larger;
  margin: 0 !important;
}

h5 {
  font-size: medium;
  margin: 0 !important;
}

h6 {
  font-size: small;
  margin: 0 !important;
}

p {
  font-size: small;
  margin: 0 !important;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}

a:hover {
  color: aquamarine;
}

.bold {
  font-weight: 700;
}
.link {
  text-decoration: none;
  color: black;
}
.card_component {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.card_container {
  box-shadow: 0 0.1875rem 0.625rem rgb(148, 148, 148);
  border-radius: 0.625rem;
  padding: 0.625rem;
  width: 17.5rem;
  margin: 0.625rem 0.9375rem;
}
.spinner-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.spinner {
  margin: 1.25rem;
}
.title_add_modal {
  margin: 0.625rem 1.25rem;
  display: flex;
  justify-content: space-between;
}
.input_title {
  text-transform: capitalize;
  margin-top: 1.25rem;
}
.input {
  width: 16.875rem;
  border-radius: 0.3125rem;
}
.body_container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input_container {
  margin: 0.3125rem;
}
.pagination {
  display: flex;
  justify-content: center;
}
.card_button_container {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.625rem;
}
.card_button {
  margin: 0 0.3125rem;
}
.card_dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
}
.new_dropdown {
  display: flex;
  align-items: center;
  white-space: pre-wrap;
  justify-content: space-between;
  margin: 0.625rem 0;
}
